In [1]:
#Answer 1:
name="Sarthak Gangwar"
lst=[12,3232,'ok','hello',234.3244,True]
number=46565453.4535
tple=(324,3445,'hy',534.3435,False)

#Answer 2:
1. Data type of var1= String
2.Data type of var2= String
3. Date type of var3= list
4. Data type of var4 = float

In [9]:
#Answer 3:
# Use of '/ 'Operator . It is known as divison operator
a=10

b=5
a/b
# a will be divided by b

2.0

In [10]:
# Use of '%' Operator. It is known as Modulo Operator
a=16
if(a%2==0):
    print(" a is even number")

 a is even number

In [12]:
# Use of '//' Operator. It is also known as floor division
a=14
a//5

# It gives the floor value.

2

In [13]:
# Use of '**' Operator. It is also known as Exponantional Operator.
2**4

16

In [15]:
#Answer 4:
lst=[3256,6764,436.5645,5436.54645,'Name','RollNo',True, False,[123,324],(23,23444)]
for i in lst:
    print(i)
    print(type(i))

3256
<class 'int'>
6764
<class 'int'>
436.5645
<class 'float'>
5436.54645
<class 'float'>
Name
<class 'str'>
RollNo
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>
[123, 324]
<class 'list'>
(23, 23444)
<class 'tuple'>

In [ ]:
#Answer 5:
a=40
b=2
count =0
while(a%b==0):
    a=a/b
    count+=1
print(count)

In [ ]:
#Annwer 6:
lst2=[34,787,6745,67456,56,567,67547,8,546,84,8,3768,7,975476,94657,98456,8,4564356,456456,34,57665,54,564546,45,6436,45667,4536,3745,654,7]

In [ ]:

for i in lst2:
    
    if (i%3==0):
        print(i ," The element is divisible by 3")
    else:
        print(i," The element is not divisible by 3")

In [ ]:
#Answer 7



# Mutable Objects:
#     The objects in which the value can be re assigned at any particular index.
#     ex-list is an mutable object

In [ ]:
 number=[1,2,3,4,5]
 
 number[0]=10

In [ ]:
# Immutable Objects:
#         The Objects in which the value can be